{% extends "u_exam_app/base.html" %}

{% block content %}

<h2>{{ title }}</h2>

<a class="btn" href="{{ create_url }}">Crea nuovo</a>

<table>
    <tr>
        {% for field in fields %}
            <th>{{ field }}</th>
        {% endfor %}
        <th>Azioni</th>
    </tr>

    {% for obj in objects %}
    <tr>
        {% for field in fields %}
            <td>{{ obj|get_attribute:field }}</td>
        {% endfor %}

        <td>
            <a class="btn" href="{{ obj.id }}/">Modifica</a>
            <a class="btn btn-danger" href="{{ obj.id }}/delete/">Elimina</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}